@import '@styles/typography';

.label {
  @include Regular_text_14;

  cursor: pointer;
  display: block;
  color: var(--color-light-900);
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;

  &:has(.disabled) {
    .label {
      cursor: default;
    }
  }
}

.iconSearch {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  color: var(--color-light-900);
}

.iconPass {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  color: var(--color-light-100);
}

.inputField {
  @include Regular_text_16;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  height: var(--line-height-l);
  padding: 6px 12px;

  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  outline: none;

  &::placeholder {
    color: var(--color-light-900);
  }

  &.error {
    border-color: var(--color-danger-500);

    & ~ .iconSearch {
      color: var(--color-light-100);
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-dark-100);
    border-color: var(--color-dark-100);

    &::placeholder {
      color: var(--color-dark-100);
    }

    ~ .iconPass,
    ~ .iconSearch {
      cursor: not-allowed;
      color: var(--color-dark-100);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--color-dark-500);
    border-color: var(--color-light-100);

    &::placeholder {
      color: var(--color-light-100);
    }

    & ~ .iconSearch {
      color: var(--color-light-100);
    }
  }

  &:focus-within:not(:active, .error) {
    border-color: transparent;
    outline: 2px solid var(--color-accent-700);
    outline-offset: -1px;
  }

  &:hover:not(:disabled, :active) {
    color: var(--color-light-900);
    border-color: var(--color-light-900);
    outline: none;

    & + .iconSearch {
      color: var(--color-light-900);
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px black inset;

  -webkit-text-fill-color: var(--color-light-100);
}

.inputSearch {
  padding: 6px 12px 6px 40px;
}

.errorMsg {
  @include Regular_text_14;

  margin: 0;
  color: var(--color-danger-500);
}
