.toast {
  display: flex;
  flex-direction: column;
  gap: 60px;

  .alert {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .appear {
    opacity: 1;
    transform: translateY(0);
  }
}
