.menu {
  display: flex;
  justify-content: space-between;
  width: 360px;
  height: 59px;
  border-top: solid 1px var(--color-dark-300);
  background-color: var(--color-dark-700);
  padding: 18px 48px;
}