@import '@styles/typography';

.label {
  @include Regular_text_14;

  color: var(--color-light-900);
}

.container {
  display: flex;
  flex-direction: column;

  &:has(textarea:disabled) > .label {
    cursor: not-allowed;
    color: var(--color-dark-100);
  }
}

.textarea {
  @include Regular_text_16;

  resize: none;

  min-height: 84px;
  padding: 6px 12px;

  color: var(--color-light-100);

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  outline: none;

  &::placeholder {
    color: var(--color-light-900);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-dark-100);

    &::placeholder {
      color: var(--color-dark-100);
    }
  }

  &:hover:not(:disabled, :active) {
    color: var(--color-light-900);
    border-color: var(--color-light-900);
    outline: none;
  }

  &:focus:not(:hover, :active, .error) {
    border-color: transparent;
    outline: 2px solid var(--color-accent-700);
    outline-offset: -1px;
  }

  &:active:not(:disabled) {
    border: 1px solid var(--color-light-100);
  }
}

.error {
  border: 1px solid var(--color-danger-500);
}

.errorText {
  @include Regular_text_14;

  margin: 0;
  color: var(--color-danger-500);
}
