@use '@styles/typography' as typography;

.tab {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 243px;
  height: 36px;

  color: var(--color-dark-100);

  border-bottom: 2px solid;

  transition: 0.15s;

  /* stylelint-disable-next-line order/order */
  @include typography.H3;

  &.selected {
    color: var(--color-accent-500);

    &:disabled {
      color: var(--color-accent-900);
    }
  }

  &:hover {
    background-color: rgba(from var(--color-accent-900) r g b / 15%);
  }

  &:active {
    background-color: rgba(from var(--color-accent-100) r g b / 15%);
  }

  &:focus {
    border-radius: 4px;
    outline: 2px solid var(--color-accent-500);
  }

  &:disabled {
    cursor: default;
    color: var(--color-dark-300);

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }
}

.list {
  display: flex;
}
