@import '@styles/typography';

button {
  all: unset;
}

.radioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radioGroupItem {
  position: relative;

  width: 20px;
  height: 20px;

  background-color: rgb(255 255 255 / 0%);
  border: solid 2px var(--color-light-100);
  border-radius: 100%;
}

.radioGroupIndicator::after {
  content: '';

  display: block;

  width: 10px;
  height: 10px;

  background-color: var(--color-light-100);
  border-radius: 100%;
}

.radioGroupItem[disabled] {
  border-color: var(--color-dark-100);

  .radioGroupIndicator::after {
    background-color: var(--color-dark-100);
  }
}

.radioGroupIndicator {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.option {
  @include Regular_text_14;

  margin-left: 10px;
  color: var(--color-light-100);
}

@mixin radio-group-item-before {
  content: '';

  position: absolute;
  z-index: -1;
  inset: 0 0 0 -39%;

  display: block;

  width: 36px;
  height: 36px;
  margin: auto;

  border-radius: 100%;
}

.radioGroupItem:hover::before {
  @include radio-group-item-before;

  background-color: var(--color-dark-300);
}

.radioGroupItem:active::before {
  @include radio-group-item-before;

  background-color: var(--color-dark-100);
}

.radioGroupItem:focus::before {
  @include radio-group-item-before;

  background-color: var(--color-dark-500);
}

.radioGroupItem[disabled]:hover::before {
  content: none;
}

.radioGroupItem[disabled]:active::before {
  content: none;
}

.radioGroupItem[disabled]:focus::before {
  content: none;
}

.radioGroupLayoutItem {
  display: flex;
  align-items: center;
}
