:root {
  /* globals */
  --font-family: 'Inter', sans-serif;
}

@mixin Large {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
}

@mixin H1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

@mixin H2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

@mixin H3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

@mixin Regular_text_16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin Bold_text_16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@mixin Regular_text_14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@mixin Medium_text_14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

@mixin Bold_text_14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

@mixin Small_text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@mixin Semi_bold_small_text {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

@mixin Regular_link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #397df6;
}

@mixin Small_link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #397df6;
}
