@import '@styles/typography';

.card {
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  width: 100%;
  min-height: 120px;
  padding: 24px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
