@use '@styles/typography' as typography;

.sidebar {
  @include typography.Medium_text_14;

  position: relative;

  width: 220px;
  height: 100%;
  margin: 0;
  padding: 72px 0 36px 60px;

  background-color: var(--color-dark-700);

  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    width: 1px;
    height: 100%;

    background-color: var(--color-dark-300);
  }
}

.sidebar li:not(:last-child, :nth-child(5), :nth-child(7)) {
  margin-bottom: 24px;
}

.sidebar li:nth-child(5) {
  margin-bottom: 60px;
}

.sidebar li:nth-child(7) {
  margin-bottom: 180px;
}

.menuItem {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 12px;

  width: max-content;

  color: var(--color-light-100);
  list-style-type: none;

  svg {
    fill: var(--color-light-100);
  }

  .active {
    color: var(--color-accent-500);
  }

  &:hover {
    color: var(--color-accent-100);

    svg {
      fill: var(--color-accent-100);
    }
  }

  &:active {
    color: var(--color-accent-500);

    svg {
      fill: var(--color-accent-500);
    }
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-accent-700);
  }

  &[aria-disabled='true'] {
    pointer-events: none;
    cursor: not-allowed;
    color: var(--color-dark-100);

    svg {
      fill: var(--color-dark-100);
    }
  }
}
