@import '@styles/typography';

.sidebar {
  @include Medium_text_14;

  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;

  width: 220px;
  height: 100%;
  margin: 0;
  padding: 72px 50px 36px 62px;

  background-color: var(--color-dark-700);
}

.sidebar li:not(:last-child, :nth-child(5), :nth-child(7)) {
  margin-bottom: 24px;
}

.sidebar li:nth-child(5) {
  margin-bottom: 60px;
}

.sidebar li:nth-child(7) {
  margin-bottom: 180px;
}
