@import "../../styles/index";

.sidebars{
  background-color: var(--color-dark-700);
  width: 220px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 72px;
  padding-left: 62px;
  @include Medium_text_14;
  ul li{
    list-style-type: none;
  }
  ul li:not(:last-child){
    margin-bottom: 24px;
  }
  .first_block{
    margin-bottom: 60px;
  }
  .second_block{
    margin-bottom: 180px;
  }
  ul li a{
    text-decoration: none;
    color: var(--color-light-100);
    cursor: pointer;
    &:hover{
      color: var(--color-accent-100);
    }
    &:active{
      color: var(--color-accent-500);
      font-weight: 700;
    }
    &.disabled{
      color: var(--color-dark-100);
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
