@use '@styles/typography' as typography;

.trigger {
  @include typography.Regular_text_16;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  min-width: 163px;
  height: 36px;
  padding: 6px 12px;

  color: var(--color-light-900);

  background-color: inherit;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  .triggerChevron {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }

  &[data-state='open'] {
    color: var(--color-light-100);
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-light-100);

    .triggerChevron {
      transform: rotate(180deg);
    }
  }

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-dark-100);
    border-color: var(--color-dark-100);
  }

  &:hover {
    color: var(--color-light-100);
  }

  &:focus-visible {
    border-color: transparent;
    outline: 2px solid var(--color-accent-500);
  }
}

.label {
  @include typography.Regular_text_14;

  color: var(--color-light-900);
}

.content {
  background-color: var(--color-dark-900);
}

.viewport {
  min-width: var(--radix-select-trigger-width);

  border: 1px solid var(--color-light-100);
  border-top: none;
  border-radius: 0 0 2px 2px;
  box-shadow:
    -1px -1px 2px 0 rgb(0 0 0 / 10%),
    1px 1px 2px 0 rgb(0 0 0 / 10%);
}

.item {
  @include typography.Regular_text_16;

  cursor: pointer;

  display: flex;
  align-items: center;

  height: 36px;
  padding-left: 12px;

  color: var(--color-light-100);

  background-color: var(--color-dark-500);

  &:hover {
    color: var(--color-accent-500);
  }

  &:focus-visible {
    color: var(--color-accent-500);
    background-color: var(--color-dark-300);
    outline: none;
  }
}

.optionContent {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

@media (width<=425px) {
  .itemLabel {
    display: none;
  }

  .icon {
    margin-right: 2px;
  }

  .trigger {
    min-width: 42px;
    padding-right: 0;
    border: none;

    &[data-state='open'] {
      border: none;
    }
  }

  .viewport {
    border: none;
  }
}
